doctype html
html
	head
		title Jobs Board
		link(rel="stylesheet" href="/style-dist.css" type="text/css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
		script(src="/main.js" type="text/javascript")
	
	body(ng-app="myApp" ng-controller="myCtrl")
		div.filters.row
			div.col-md-3.filter(ng-repeat="(key, property) in filters")
				input.filter-choose(id="{{ key }}" type="checkbox" ng-model="filters[key]" ng-click="filterFunction(key)")
				label.jobtype(for="{{ key }}" ng-class="{'bold-text': filters[key]}") {{ key | filtersFormat }}
		
		div.users
			div.col-md-3.profile(ng-repeat="profile in profiles" ng-show="filters.all || filters[profile.job]")
				img.profile-img(src="{{ profile.image }}")
				div.details
					h2.name {{ profile.name }}
					h4.job {{ profile.job | filtersFormat }}
					div.hideit
						a.facebook(href="{{ profile.facebook }}")
							div.facebook-div.social-media-link
								h4 Facebook
						a.linkedin(href="{{ profile.linkedin }}")
							div.linkedin-div.social-media-link
								h4 Linkedin

		div.register-button.btn-primary
			h4.register-text Add Yourself Here

		div.register-screen
			div.register-window
				h2.register-header Add Yourself!
				div.exit-register
					b
					b
					b
					b
				form.register-form(action="/add-profile" method="POST")
					div.form-group
						label(for="name-input") Full Name
						input.form-control#name-input(type="text" name="name" placeholder="Your Name" required)
					div.form-group
						label(for="profession-select") Profession
						select.form-control#profession-select(name="job" required)
							option(disabled selected hidden) Choose One...
							option(ng-repeat="(key, property) in filters" ng-hide="$first" value="{{ key }}") {{ key | filtersFormat }}
					div.form-group
						label(for="image-input") Your Picture
						input.form-control#image-input(type="url" name="image" placeholder="Add Your Profile Picture URL" required)
					div.form-group
						label(for="facebook-input") Facebook link
						input.form-control#facbook-input(type="url" name="facebook" placeholder="Add Your Facebook Link" required)
					div.form-group
						label(for="linkedin-input") Linkedin link
						input.form-control#linkedin-input(type="url" name="linkedin" placeholder="Add Your Linkedin Link" required)
					button.btn.btn-primary(type="submit") Submit