doctype html
html
	head
		title Jobs Board
		link(rel="stylesheet" href="style.css" type="text/css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
		script(src="main.js")
	body
		div.filters
			div.row#filters
				div.col-md-2.col-md-offset-1.first-filter
					div.filter-choose-all.active
					h5.jobtype All
				div.col-md-2.filter
					div.filter-choose#web-developer
					h5.jobtype Web Developer
				div.col-md-2.filter
					div.filter-choose#graphic-designer
					h5.jobtype Graphic Designer
				div.col-md-2.filter
					div.filter-choose#marketing
					h5.jobtype Marketing
				div.col-md-2.filter
					div.filter-choose#video
					h5.jobtype Video
				div.col-md-2.filter.col-md-offset-1
					div.filter-choose#ios-developer
					h5.jobtype iOS Developer
				div.col-md-2.filter
					div.filter-choose#social-media
					h5.jobtype Social Media
				div.col-md-2.filter
					div.filter-choose#android-developer
					h5.jobtype Android Developer
		div.users
			div.row
				div.col-md-3.people.web-developer
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Yuval Goldschmidt
						h4.job Web Developer
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.graphic-designer
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Ron
						h4.job Graphic Designer
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.marketing
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Dana
						h4.job Marketing
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.video
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name DJ Song
						h4.job Video
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.ios-developer
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Omer
						h4.job iOS Developer
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.social-media
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Yoni
						h4.job Social Media
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.web-developer
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Ofek
						h4.job Web Developer
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facebook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
				div.col-md-3.people.android-developer
					img.profile(src="profile-picture.jpg")
					div.details
						h2.name Asher Cohen
						h4.job Android Developer
						div.hideit
							div.facebook-div.social-media-link
								a.facebook(href="#")
									h4 Facbook
							div.linkedin-div.social-media-link
								a.linkedin(href="#")
									h4 Linkedin
		br
		br
		br
		br