<!DOCTYPE html>
<html>
  <head>
    <title>Jobs Board</title>
    <link rel="stylesheet" href="style-dist.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="filters row">
      <div ng-repeat="(key, property) in filters" class="col-md-3 filter">
        <input id="{{ key }}" type="checkbox" ng-model="filters[key]" ng-click="filterFunction(key)" class="filter-choose">
        <label for="{{ key }}" ng-class="{'bold-text': filters[key]}" class="jobtype">{{ key | filtersFormat }}</label>
      </div>
    </div>
    <div class="users">
      <div ng-repeat="profile in profiles" ng-show="filters.all || filters[profile.job]" class="col-md-3 profile"><img src="{{ profile.image }}" class="profile-img">
        <div class="details">
          <h2 class="name">{{ profile.name }}</h2>
          <h4 class="job">{{ profile.job | filtersFormat }}</h4>
          <div class="hideit"><a href="{{ profile.facebook }}" class="facebook">
              <div class="facebook-div social-media-link">
                <h4>Facebook</h4>
              </div></a><a href="{{ profile.linkedin }}" class="linkedin">
              <div class="linkedin-div social-media-link">
                <h4>Linkedin</h4>
              </div></a></div>
        </div>
      </div>
    </div>
    <div class="register-button btn-primary">
      <h4 class="register-text">Add Yourself Here</h4>
    </div>
    <div class="register-screen">
      <div class="register-window">
        <h2 class="register-header">Add Yourself!</h2>
        <div class="exit-register"><b></b><b></b><b></b><b></b></div>
        <form class="register-form">
          <div class="form-group">
            <label for="name-input">Full Name</label>
            <input id="name-input" type="text" name="name" placeholder="Your Name" required class="form-control">
          </div>
          <div class="form-group">
            <label for="profession-select">Profession</label>
            <select id="profession-select" name="profession" required class="form-control">
              <option disabled selected value hidden></option>
              <option ng-repeat="(key, property) in filters" ng-hide="$first" id="{{ key }}">{{ key | filtersFormat }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="image-input">Your Picture</label>
            <input id="image-input" type="url" name="image-link" placeholder="Add Your Profile Picture URL" required class="form-control">
          </div>
          <div class="form-group">
            <label for="facebook-input">Facebook link</label>
            <input id="facbook-input" type="url" name="facebook-link" placeholder="Add Your Facebook Link" required class="form-control">
          </div>
          <div class="form-group">
            <label for="linkedin-input">Linkedin link</label>
            <input id="linkedin-input" type="url" name="linkedin-link" placeholder="Add Your Linkedin Link" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>