body{
	margin: 20px 0 !important;
	min-height: 100%;
	overflow-y: scroll;
	background-color: white;
	color: black;
}

.filters{
	padding: 0 5% 20px;
	max-width: 100%;
}

.filter-choose{
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border: 1px solid #959595;
	outline: none !important;
}

.filter-choose:checked{
	background-color: #959595;
}

.jobtype{
	display: inline-block;
	font-weight: 400;
}

.bold-text{
	font-weight: bold;
}

.users{
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 0 20px;
}

.profile{
	display: inline-block;
	margin-bottom: 75px;
}

.profile:hover .profile-img{
	margin-bottom: -60px;
}

.profile:hover .hideit{
	display: inline-block;
}

.profile-img{
	height: 100%;
	width: 100%;
}

.details{
	font-family: "dosis";
	position: inherit;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: -20px;
}

.name{
	margin-top: 0;
}

.hideit{
	display: none;
	height: 60px;
	width: 100%;
}

.hideit a{
	color: white;
	text-decoration: none;
}

.hideit a:hover{
	color: white;
	text-decoration: none;
}

.social-media-link{
	width: 35%;
	display: inline-block;
	margin: 10px 5%;
	border-radius: 20px;
	color: white;
}

.facebook-div{
	background-color: #3B5998;
}

.linkedin-div{
	background-color: #1884BC;
}

.register-button{
	display: flex;
	width: 200px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 60px;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	border-radius: 35px;
	cursor: pointer;
}

.register-text{
	color: white;
}

.register-screen{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(10, 10, 10, 0.45);
}

.register-window{
	position: fixed;
	top: 7.5%;
	left: 20%;
	width: 60%;
	height: 85%;
	padding: 20px;
	border: 1px solid #337ab7;
	background-color: white;
}

.register-header{
	display: inline-block;
	margin: 10px 0 20px;
}

.exit-register{
	position: relative;
	background-color: #CCC;
	transition: all .3s ease-out;
	cursor: pointer; 
	width: 30px;
	height: 30px;
	margin:  10px 20px 20px;
	float: right;
}

.exit-register:hover{
	background-color: #B33;
}

.exit-register b{
	position: absolute;
	border: solid 15px rgba(255,255,255,0);
}

.exit-register b:nth-child(1){
	border-top-color: white;
	top: -2px;
}

.exit-register b:nth-child(2){
	border-left-color: white;
	left: -2px;
}

.exit-register b:nth-child(3){
	border-bottom-color: white;
	bottom: -2px;
}

.exit-register b:nth-child(4){
	border-right-color: white;
	right: -2px;
}

@media (max-width: 991px){
	.register-window{
		left: 10%;
		width: 80%;
	}
}

@media (max-width: 767px){
	.profile{
		margin-bottom: 30px;
	}

	.register-window{
		left: 5%;
		width: 90%;
	}
}